* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.app {
  width: 300px;
  height: 500px;
  border: 5px solid black;
  border-radius: 8px;
  padding: 15px;
  background-color: white;

  overflow-y: scroll;
}

.app::-webkit-scrollbar {
  width: 0 !important;
}

/*Span newTask position setting and styling*/
#addNew {
  background-color: #e0ffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
}

.fa-plus {
  background-color: white;
  padding: 3px;
  border-radius: 3px;
}

/*Task position setting*/
#tasks {
  display: grid;
  gap: 30px;
}

/*Every single Task position setting and styling*/
#tasks div {
  border: 2px solid black;
  border-radius: 12px;
  padding: 10px;
  display: grid;
  gap: 4px;
}

/*Arrange Icon position */
.options {
  justify-self: center;
  display: flex;
  gap: 20px;
}

.options i {
  cursor: pointer;
}
